<a href="https://colab.research.google.com/github/divyap2706/Big-Data-Project-X/blob/main/BigData_BridgesTunnels_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install git+git://github.com/VIDA-NYU/openclean.git
from openclean.pipeline import stream

Collecting git+git://github.com/VIDA-NYU/openclean.git
  Cloning git://github.com/VIDA-NYU/openclean.git to /tmp/pip-req-build-yixfukui
  Running command git clone -q git://github.com/VIDA-NYU/openclean.git /tmp/pip-req-build-yixfukui
  Running command git submodule update --init --recursive -q
Collecting openclean-core==0.3.0
  Downloading https://files.pythonhosted.org/packages/a9/03/b5d97f3d6c407918f677535589749e9b898e696124fc273882f2016467cf/openclean_core-0.3.0-py3-none-any.whl (260kB)
     |████████████████████████████████| 266kB 4.3MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (1.1.5)
Collecting histore==0.3.1
  Downloading https://files.pythonhosted.org/packages/97/fa/af11ae933afe3996745ec93badb6d5e412d144677fd9be5ae763515b2f4b/histore-0.3.1-py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 6.7MB/s
Collecting flowserv-core>=0.8.0
  Downloading https://files.pythonhosted.org/packages/23/46/9ec3386fb2109d26c066b24f228feb4295be1f61b0dc9a25ff28945d8a7e/flowserv_core-0.8.0-py3-none-any.whl (230kB)
     |████████████████████████████████| 235kB 15.0MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (1.4.1)
Collecting jsonschema>=3.2.0
  Downloading https://files.pythonhosted.org/packages/c5/8f/51e89ce52a085483359217bc72cdbf6e75ee595d5b1d4b5ade40c7e018b8/jsonschema-3.2.0-py2.py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 4.8MB/s
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (0.3.3)
Collecting jellyfish
  Downloading https://files.pythonhosted.org/packages/30/a6/4d039bc827a102f62ce7a7910713e38fdfd7c7a40aa39c72fb14938a1473/jellyfish-0.8.2-cp37-cp37m-manylinux2014_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 6.0MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (0.22.2.post1)
Collecting refdata>=0.2.0
  Downloading https://files.pythonhosted.org/packages/1d/05/afe4da72b2e97c4cd667e09a6594efab41f35faa68a98c6afb8ecdbc6bcc/refdata-0.2.0-py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (2.23.0)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (1.4.4)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.3.0->openclean==0.1.0) (0.16.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.3.0->openclean==0.1.0) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.3.0->openclean==0.1.0) (2018.9)
Requirement already satisfied: Click>=7.0 in /usr/local/lib/python3.7/dist-packages (from histore==0.3.1->openclean-core==0.3.0->openclean==0.1.0) (7.1.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from histore==0.3.1->openclean-core==0.3.0->openclean==0.1.0) (3.13)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from histore==0.3.1->openclean-core==0.3.0->openclean==0.1.0) (1.3.23)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore==0.3.1->openclean-core==0.3.0->openclean==0.1.0) (5.4.8)
Collecting passlib
  Downloading https://files.pythonhosted.org/packages/3b/a4/ab6b7589382ca3df236e03faa71deac88cae040af60c071a78d254a62172/passlib-1.7.4-py2.py3-none-any.whl (525kB)
     |████████████████████████████████| 532kB 15.1MB/s
Collecting gitpython
  Downloading https://files.pythonhosted.org/packages/a6/99/98019716955ba243657daedd1de8f3a88ca1f5b75057c38e959db22fb87b/GitPython-3.1.14-py3-none-any.whl (159kB)
     |████████████████████████████████| 163kB 20.3MB/s
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (3.7.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (20.3.0)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (54.1.2)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (0.17.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.3.0->openclean==0.1.0) (1.0.1)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.3.0->openclean==0.1.0) (1.3.0)
Collecting datasize>=1.0.0
  Downloading https://files.pythonhosted.org/packages/91/32/2e3a423003fb9b8fe703641ff0f33197caba606ae5cd6cc4ae380e892487/datasize-1.0.0.tar.gz (149kB)
     |████████████████████████████████| 153kB 21.1MB/s
Collecting tableprint
  Downloading https://files.pythonhosted.org/packages/e4/9f/e61234cc4a1e2c7c8ade391828a66ef8e4cfef4bd586def359d03895d916/tableprint-0.9.1-py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.3.0->openclean==0.1.0) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.3.0->openclean==0.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.3.0->openclean==0.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.3.0->openclean==0.1.0) (2.10)
Collecting gitdb<5,>=4.0.1
  Downloading https://files.pythonhosted.org/packages/ea/e8/f414d1a4f0bbc668ed441f74f44c116d9816833a48bf81d22b697090dba8/gitdb-4.0.7-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 5.9MB/s
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=3.2.0->openclean-core==0.3.0->openclean==0.1.0) (3.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.3.0->openclean==0.1.0) (20.9)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.3.0->openclean==0.1.0) (0.2.5)
Collecting smmap<5,>=3.0.1
  Downloading https://files.pythonhosted.org/packages/68/ee/d540eb5e5996eb81c26ceffac6ee49041d473bc5125f2aa995cf51ec1cf1/smmap-4.0.0-py2.py3-none-any.whl
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.3.0->openclean==0.1.0) (2.4.7)
Building wheels for collected packages: openclean, datasize
  Building wheel for openclean (setup.py) ... done
  Created wheel for openclean: filename=openclean-0.1.0-cp37-none-any.whl size=4897 sha256=e80b41bdd22acdafeddc978489b06eae0dfd6767e2206bffeee5b8ad352b5153
  Stored in directory: /tmp/pip-ephem-wheel-cache-y56zuuq8/wheels/5f/de/0d/3f94f0323cd128a09f597f9c646d4d57e62845deb0136fb223
  Building wheel for datasize (setup.py) ... done
  Created wheel for datasize: filename=datasize-1.0.0-py2.py3-none-any.whl size=155029 sha256=87754b06ddca6d8e79b35e41f3e48e3b359295a8219dfcf7e0ac9246a6ee5949
  Stored in directory: /root/.cache/pip/wheels/b9/a1/a3/97bc5bd191a248dc72fe842abb780935d79fdf9aeee265f1e8
Successfully built openclean datasize
ERROR: nbclient 0.5.3 has requirement jupyter-client>=6.1.5, but you'll have jupyter-client 5.3.5 which is incompatible.
ERROR: flowserv-core 0.8.0 has requirement pyyaml>=5.1, but you'll have pyyaml 3.13 which is incompatible.
ERROR: refdata 0.2.0 has requirement pyyaml>=5.1, but you'll have pyyaml 3.13 which is incompatible.
Installing collected packages: jsonschema, histore, passlib, smmap, gitdb, gitpython, flowserv-core, jellyfish, datasize, tableprint, refdata, openclean-core, openclean
  Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
Successfully installed datasize-1.0.0 flowserv-core-0.8.0 gitdb-4.0.7 gitpython-3.1.14 histore-0.3.1 jellyfish-0.8.2 jsonschema-3.2.0 openclean-0.1.0 openclean-core-0.3.0 passlib-1.7.4 refdata-0.2.0 smmap-4.0.0 tableprint-0.9.1

In [3]:
# Import the data and then use OpenClean's stream feature so that we do not need
# to put the entire file into memory
datafile = "/content/drive/MyDrive/Big Data/Big Data Project/Data Max is Working on/Hourly_Traffic_on_Metropolitan_Transportation_Authority__MTA__Bridges_and_Tunnels__Beginning_2010.csv"
ds = stream(datafile)

# Print the first ten rows of the dataset to get a first
# idea of the content.
ds.head()

  Plaza ID        Date Hour Direction # Vehicles - E-ZPass # Vehicles - VToll
0        3  02/08/2017    6         O                 3524                446
1        1  02/08/2017   17         O                 2019                400
2       11  02/08/2017   15         I                 5999                498
3        1  02/06/2017    3         O                  293                 94
4        1  02/06/2017   14         O                 1881                391
5        9  02/09/2017   10         O                  309                 44
6        2  02/11/2017    5         I                  455                 85
7        1  02/09/2017    8         O                  541                106
8        9  02/06/2017   22         O                 1120                242
9        5  02/07/2017   18         O                  358                 48

In [4]:
# Profile rows using the default data profiler.

from openclean.profiling.column import DefaultColumnProfiler

profiles = ds.profile(default_profiler=DefaultColumnProfiler)

In [5]:
# Print overview of profiling results.

profiles.stats()

                        total  empty  distinct  uniqueness    entropy
Plaza ID              1728845      0        20    0.000012   4.164765
Date                  1728845      0      4024    0.002328  11.955525
Hour                  1728845      0        24    0.000014   4.584962
Direction             1728845      0         2    0.000001   0.999681
# Vehicles - E-ZPass  1728845      0      8997    0.005204  11.804486
# Vehicles - VToll    1728845      0      1770    0.001024   9.486544

In [6]:
#Print the distinct values of a column
print(ds.distinct('Plaza ID'))
print(ds.distinct('Hour'))
print(ds.distinct('Direction'))

Counter({'3': 135552, '9': 135552, '1': 130896, '2': 130896, '5': 128688, '6': 128688, '7': 123072, '8': 122784, '4': 120624, '11': 66000, '28': 59221, '27': 59221, '24': 59202, '26': 59176, '25': 58941, '29': 58210, '23': 58092, '30': 32249, '21': 32207, '22': 29574})
Counter({'15': 72055, '14': 72055, '8': 72055, '13': 72055, '12': 72055, '11': 72055, '6': 72054, '10': 72054, '7': 72054, '17': 72053, '5': 72053, '16': 72053, '9': 72053, '4': 72052, '18': 72050, '19': 72047, '20': 72046, '22': 72045, '21': 72044, '23': 72042, '0': 71999, '3': 71976, '1': 71954, '2': 71886})
Counter({'I': 882586, 'O': 846259})

In [7]:
# look at all the datatypes in the dataset
print(profiles.types())

                      date   int  str
Plaza ID                 0    20    0
Date                  4024     0    0
Hour                     0    24    0
Direction                0     0    2
# Vehicles - E-ZPass     0  8997    0
# Vehicles - VToll       0  1770    0

In [8]:
# query the minimum and maximum in the columns column
print(profiles.minmax('Plaza ID'))
print(profiles.minmax('Date'))
print(profiles.minmax('Hour'))
print(profiles.minmax('# Vehicles - E-ZPass'))
print(profiles.minmax('# Vehicles - VToll'))

     min  max
int    1   30
            min        max
date 2010-01-01 2021-03-20
     min  max
int    0   23
     min    max
int    0  16854
     min   max
int    0  2567

In [9]:
# Print the number of rows in the full dataset
print('\n{:,} rows.'.format(ds.count()))

1,728,845 rows.

In [16]:
# Filter out plaza ID # 22 and 11 because they only have data for one direction
from openclean.operator.transform.filter import filter
from openclean.function.eval.base import Col
# Verrazano-Narrows Bridge (VNB)
filterOut_Verazano = ds.filter(predicate=Col('Plaza ID')!='11')
# Filter out Robert F. Kennedy Bridge Manhattan Plaza (TBM)
filterOut = filterOut_Verazano.filter(predicate=Col('Plaza ID')!='22')
filterOut.head()

   Plaza ID        Date Hour Direction # Vehicles - E-ZPass # Vehicles - VToll
0         3  02/08/2017    6         O                 3524                446
1         1  02/08/2017   17         O                 2019                400
3         1  02/06/2017    3         O                  293                 94
4         1  02/06/2017   14         O                 1881                391
5         9  02/09/2017   10         O                  309                 44
6         2  02/11/2017    5         I                  455                 85
7         1  02/09/2017    8         O                  541                106
8         9  02/06/2017   22         O                 1120                242
9         5  02/07/2017   18         O                  358                 48
11        1  02/10/2017   14         O                 1699                416

There are only 10 actual plazas, and the Plaza IDs changed in 2017 from 1-11, to 21-30. We need to map the correpsonding IDs from each time period.

In [18]:
# Define a function to fix plaza IDs
def plaza_transform(plaza):
  if plaza == '21':
    return '1'
  elif plaza == '22':
    return '2'
  elif plaza == '23':
    return '3'
  elif plaza == '24':
    return '4'
  elif plaza == '25':
    return '5'
  elif plaza == '26':
    return '6'
  elif plaza == '27':
    return '7'
  #The Hugh L. Carey Tunnel is the official name for the Brooklyn Battery Tunnel
  elif plaza == '28':
    return '8'
  elif plaza == '29':
    return '9'
  elif plaza == '30':
    return '11'
  else:
    return plaza

fixedPlazas = filterOut.update('Plaza ID', plaza_transform)
print(fixedPlazas.distinct('Plaza ID'))

Counter({'9': 193762, '3': 193644, '6': 187864, '5': 187629, '7': 182293, '8': 182005, '4': 179826, '1': 163103, '2': 130896, '11': 32249})

In [19]:
# Export data to file
# Note: Change the file path as needed
import pandas as pd

output = fixedPlazas.to_df()
output.to_csv(r'/content/drive/MyDrive/Big Data/Big Data Project/Data Max is Working on/New_Bridges_Tunnels.csv', index = False, header=True)